<p>A request to recover your password has been submitted.</p>

<p>Your password recovery code is:</p>

<p><b>{{ token }}</b></p>

<p>This code will be valid for about one hour.</p>

<p>If you did not submit this request, it could be a simple mistake
and no action is needed.</p>
